{% extends "_base.html" %}
{% block head %}
<link rel="stylesheet" href="/css/homepage.css">
<link rel="stylesheet" href="/css/desk.css">
<script type="module" src="/js/homepage.js"></script>
<script type="module" src="/js/duck-community.js"></script>
{% endblock %}
{% block content %}
{% include "_partials/homepage-hero.html" %}
{% include "_partials/product-desk.html" %}
{% include "_partials/product-demo-video.html" %}
{% include "_partials/stock-workspace.html" %}
{% include "_partials/video-example.html" %}
{% include "_partials/revamp-proof.html" %}
{% include "_partials/revamp-workflow.html" %}

{% include "_partials/faq.html" %}
{% include "_partials/disclaimer.html" %}

{# The persistent public header owns mobile entry points; keep content unobstructed. #}
{% endblock %}
{% block scripts %}
<script src="/js/site.js" defer></script>
<script type="module" src="/js/home-demo.js"></script>
<script type="module" src="/js/desk.js"></script>
{% endblock %}
